# Source files
src/
test/
.husky/
screenshots/
book_data.json

# Config files
.eslintrc.js
eslint.config.js
.prettierrc
.prettierignore
.nvmrc
tsconfig.json
tsconfig.build.json
vitest.config.ts

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs
*.log

# NodeJS files
node_modules/
coverage/
.nyc_output/

# Development-only files
.github/
.git/
.gitignore
.DS_Store

# Allow these
!dist/
!lib/
!data/
